Source: imediff2
Section: oldlibs
Priority: optional
Maintainer: Osamu Aoki <osamu@debian.org>
Build-Depends: debhelper (>= 11~)
Standards-Version: 4.2.1
Homepage: https://github.com/osamuaoki/imediff

Package: imediff2
Architecture: all
Depends: imediff, ${misc:Depends}
Description: interactive full screen 2-way merge tool
 This is a dummy transitional package that provides symlinks from
 imediff2 to imediff. It may be safely removed.
 .
 Imediff2 lets you merge two (slightly different) files
 interactively with a user friendly full screen interface
 on a text terminal. In other words, it is an ncurses based
 replacement for sdiff.
 .
 The program shows the differences of given files (in color
 if the terminal supports them), lets you scroll up and down
 and toggle changes between the old and new versions of
 the differing hunks one by one.
 .
 Unlike split screen based merge tools, it shows only one,
 partially merged, version of the file at a time, making
 it more "WYSIWYG", perhaps more intuitive for beginners and
 most importantly, suitable for narrow terminals.
 .
 This also comes with git-ime wrapper script to use imediff2
 with git VCS.
